<div class="row">
    <div class="col-3">
        <ng-container *ngIf="isContentVisiable; else notFoundTem">
            <p> PAra</p>
            <span>Sapn</span>
        </ng-container>

        <ng-template #notFoundTem>
            <h2>No eleent Found</h2> 
        </ng-template>
        
         <ng-template #notFoundTem2>
            <h2>H H1</h2> 
        </ng-template>
    </div>
    <div class="col-3">
        <ul>
            <ng-container *ngIf="cityList.length != 0">
                <li *ngFor="let city of cityList"> {{city}}</li>
            </ng-container>
            <ng-container *ngIf="cityList.length == 0">
                <li>No City FOund</li>
            </ng-container>

        </ul>
    </div>
    <div class="col-4">
        <table>
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>city</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="studList.length ==0">
                    <tr>
                        <td colspan="3">NO Record Found</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="studList.length !=0">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <ng-template #defTem>
            <h1>This is from Templae</h1> 
            <p>This is Para</p>
        </ng-template>
    </div>
    <div class="col-4">
        <ng-container [ngTemplateOutlet]="defTem">

        </ng-container>
    </div>
</div>