<div class="row">
    <!-- Client List -->
    <div class="col-md-8">
        <div class="card card-custom bg-light">
            <div class="card-header bg-primary text-white">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    @for (item of clientList; track $index) {
                    <div class="col-4 pt-1">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{item.clientName}}</h4>
                                <p class="card-text">{{item.contactPerson}} -
                                  
                                </p>
                                <p>
                                      <small>{{item.email}}</small>
                                </p>
                                <a class="card-link btn btn-primary btn-sm" (click)="onEdit(item)">Edit </a>
                                <a class="card-link btn btn-danger btn-sm">Remove</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>


                <!-- Repeat items as needed -->
            </div>
        </div>
    </div>

    <!-- Client Form -->
    <div class="col-md-4">
        <div class="card card-custom bg-light">
            <div class="card-header bg-success text-white">
                Add / Upda
                te Client
            </div>
            <div class="card-body">
                <form [formGroup]="newClientForm">
                    <div class="row">
                        <div class="col-6 mb-1">
                            <label class="form-label">Client Name</label>
                            <input type="text" formControlName="clientName" class="form-control"
                                placeholder="Enter client name">
                                <div class="text-danger">
                                    @if(newClientForm.controls['clientName'].touched) {
                                         @if (newClientForm.controls['clientName'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }

                                    @if (newClientForm.controls['clientName'].errors?.['minlength']) {
                                        <span>Min % char Neede</span>
                                    }
                                    }
                                   
                                </div>
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Business Name</label>
                            <input type="text" formControlName="businessName" class="form-control"
                                placeholder="Enter business name">
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Contact Person</label>
                            <input type="text" formControlName="contactPerson" class="form-control"
                                placeholder="Enter contact person">
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Contact No</label>
                            <input type="text" formControlName="contactNo" class="form-control"
                                placeholder="Enter contact number">
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Alt Contact No</label>
                            <input type="text" formControlName="altContactNo" class="form-control"
                                placeholder="Enter alternate number">
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Enter email">
                            <div class="text-danger">
                                @if (newClientForm.controls['email'].errors?.['required']) {
                                    <span>This is Required</span>
                                }
                                @if(newClientForm.controls['email'].errors?.['pattern']){
                                    <span>Email Id Not Ciorrect</span>
                                }
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <label class="form-label">Logo</label>
                            <input type="text" formControlName="logo" class="form-control">
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <button type="button" (click)="onSaveClient()" [disabled]="newClientForm.invalid" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-secondary">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>